h1 {
    font-family:$fuenteSitio;
    animation-delay: map-get($boton, delayAnimacion); 
    color: $colorNegro;
    animation: miTitulo; 
}
h2 h3 h4 {
    @extend h1;
}
.imagenFondo{
    background: linear-gradient(rgba(5,7,12,0.8), rgba(5,7,12,0.2)), url(../img/Imagen\ 1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:20em;  
}    
.tituloBanner{
    color: $colorBlanco;
    text-align: center;
    padding-top: 3em;    
}
.textoBanner{
    color: $colorBlanco;
    text-align: center;
    padding-top: 1em;
    font-size: larger;
    font-style: italic;
}
@keyframes miTitulo {
    0%{
        color: $colorNegro;
    }
    50%{
        color:$colorSecundario;
    }
    100%{
        color:$colorNegro;
    }
}